<div id="div-signin">
        <!--Formulario para Registro de Usuarios nuevos-->
        <section id="userRegister">
            <h4>Registro de usuarios</h4>
            <input id="emailRegister" type="email" placeholder="Ingresa email">
            <input id="passwordRegister" type="password" placeholder="Ingresa contraseña">
            <button id="btnRegister">Regístrate</button>
        </section>
    </div>
    
    <div id="div-register">
        <!--Formulario para Login-->
        <section id="userLogin">
            <h4>Ingreso de usuarios</h4>
            <input id="emailLogin" type="email" placeholder="Ingresa email">
            <input id="passwordLogin" type="password" placeholder="Ingresa contraseña">
            <button id="btnLogin">Iniciar sesión</button>
        </section>
    </div>