<section id="login">
        <h1>¡Bienvenido a tu red de postres! </h1>
        <!--Formulario para Login-->
        <section id="userLogin">
            <h4>Ingreso de usuarios</h4>
            <input id="emailLogin" type="email" placeholder="Ingresa email">
            <input id="passwordLogin" type="password" placeholder="Ingresa contraseña">
            <button id="btnLogin">Iniciar sesión</button>
        </section>
    </section>
    
    <!--
    <div id="div-signin">
        
        <section id="userRegister">
            <h4>Registro de usuarios</h4>
            <input id="emailRegister" type="email" placeholder="Ingresa email">
            <input id="passwordRegister" type="password" placeholder="Ingresa contraseña">
            <button id="btnRegister">Regístrate</button>
        </section>
    </div>
    -->