<div id="div-signin" class="signinSection">
    <span class="back" id="back"> ← </span>
    <!--Formulario para Login-->
    <section id="userLogin" class="userForm">
        <img alt="registerImage" src="../images/mundo_dulce2.png" class="imageRegister">
        <h3 class="registerLine login">Inicia tu sesión</h3>
        <label for="emailLogin" class="email">Ingresa tu correo electrónico</label>
        <input id="emailLogin" class="register sizing" type="email">
        <label for="passwordLogin" class="passwordLogin">Ingresa tu contraseña</label>
        <input id="passwordLogin" type="password" class="register sizing">
        <button id="btnLogin" class="btnLogin move">Iniciar sesión</button>
    </section>
</div>
