<header class="loginMenu" id="loginMenu">
        <nav class="navBar">
            <span class="aboutUs"> ? </span>
        </nav>
    </header>
            <main id="welcome" class="welcomePage">
                <section class="welcome message">
                    <h1 class="message">¡Bienvenid@ a tu red de postres!</h1>
                    <img alt="welcome" src="../images/mundo_dulce.png" class="imageWelcome">
                </section>
                <section id="welcomeOptions" class="options">
                    <button id="register" class="btnRegister">Regístrate</button><br>
                    <p class="separation"> Ó </p><br>
                    <button id="login" class="btnLogin">Inicia sesión</button>
                </section>
            </main>